# Copyright (c) 2009
# 	The Regents of the University of Minnesota. All rights reserved.
# Do not distribute.

This file contains information about the configuration file.

* Local IP addresses can be specified by
inside IP1 mask1
inside IP2 mask2 ...

Masks can be either of the form of an IP address 255.255.255.128 or just a number (25 in this case) specifying the number
of significant bits.  For any given flow record, both ends of the connection are checked to see if they're in the local
network.  If both ends of a record are outside or both are inside, it can be reported to the user.  As of now, no action is
taken in any case.

* The number of flow records to be picked for training / test sets can be specified by using the train / test keywords.
train 1000
test 0
Specifying 0 for the test is the default and all the connections will be used in anomaly detection.

* There are 8 extracted features that are used in the anomaly detector along with the ones already present in the flow 
record.  4 of these features are time window based features and 4 are connection window based features.  The length of 
these windows can be specified by using the time_window and conn_window keywords.

time_window 10000
A time window of 10 seconds (10000 msecs) will be used for relevant features.

conn_window 200
A connection window of 200 flows will be used for relevant features.

* There were 2 anomaly detection algorithms implemented: nearest neighbor and Local Outlier Factor (LOF).  The LOF version 
seemed to give better results but it is more complex.  In this version of the code, LOF and LOF-simplified, which is a 
conceptually simplified version of LOF, are implemented.  Both versions require a neigborhood size be defined.  This can be done using the 
'nn' keyword.
nn 15
By inserting the line above into the config file, a neighborhood of 15 flows will be used in the anomaly detection algorithms.  
The method to be used can be specified by the 'method' keyword. method 0 is the simplified version and method 1 is the full 
version of the algorithm.

* The anomaly detection algorithms use a distance function to obtain neighbors of flows.  The weights of features in this 
distance function can be specified using the feature name, followed by the weight.  The features used in the distance 
calculation are 
srcIP 1
dstIP 1
srcPort 1
dstPort 1
proto 1
duration 1
octets 1
packets 1
unique_inside_src_rate 1
same_src_port_rate 1
unique_inside_dst_rate 1
same_dst_port_rate 1
unique_inside_src_count 1
same_src_port_count 1
unique_inside_dst_count 1
same_dst_port_count 1

The weights of these attributes can be altered by editing them in the config file.  There's a sample set of weights in the 
config file.


Description of the Extracted Features

unique_inside_dst_rate 
----------------------
Given a flow record, during the last conn_window flows from the same source ip, how many different destination ip's inside
the network were seen.

unique_inside_src_rate
----------------------
Given a flow record, during the last conn_window flows to the same destiantion ip, how many different source ip's inside
the network were seen.

same_dst_port_rate
------------------
Given a flow record, of the last conn_window flows from the same source ip, how many were to the same destination port

same_src_port_rate
------------------
Given a flow record, of the last conn_window flows to the same destination ip, how many were from the same source port

time_window based features are just like the connection window based ones where _rate is replaced by _count and conn_window 
is replaced by time_window


Distance calculation between two flows
--------------------------------------

There are two types of distance calculations used in the distance function.  One of them uses the numeric attributes and the
other one measures the distance between categorical attributes.

The calculation of distance between numeric attributes is pretty standard.  First the mean and the standard deviation for 
all numerical attributes is calculated.  Then the contribution of an attribute to the distance is basically the difference 
in the values divided by the standard deviation squared. (using L2 norm)

The contribution of a categorical attribute to the distance is 0 if the two records have the same value for that attribute.  
Otherwise, the contribution is calculated by multiplying a function of the counts of the occurrences of those attribute values in the 
data.

Output
------

The output will be written to file with the filename specified in the command line. 
