# Copyright (c) 2005
#       The Regents of the University of Minnesota. All rights reserved.
# Do not distribute.

#the below are used to determine when the files are to be closed
#this version currently does not print out the minutes in the file name
#Do not using settings of less than an hour unless you add in the minutes
#into the file name

#define MINUTE 1
#define TEN_MINUTE 2
#define HALF_HOUR 3
#define HOUR 4
#define TWO_HOUR 5
#define DAY 6
#define WEEK 7

file_close_time 7

#use interface to define which interface to listen too
#interface eth0

#use tpcdumpfile to say which tcpdumpfile to read
#if interface is defined, this is overridden
tcpdumpfile <replace with the tcpdump file name>
outfile <replace with output flow file name>

#used to define how often to do memory mamgement
#this is not actually the number of packets seen
#but the number of that type of packets, i.e. num tcp, num udp etc

num_packets_cleanup 500
